---
layout: event
suppress_header: true
extra_css:
  - event.css
---

-# THE CONTENT FOR THIS PAGE IS IN https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/data/events.yml

- content_for(:title, event.topic)
